@page
@model List<ShowCastRestApi.Models.ShowModel>
@{
    ViewData["Title"] = "TV Maze Shows and cast";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a>Id</a>
            </th>
            <th>
                <a>Name</a>
            </th>
            <th>
                <a>Cast</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cast)
                </td>
            </tr>
        }
    </tbody>
</table>